:root {
    --orange-primary: #FFC951;
    --phone-width: 600px;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
}

@media only screen and (max-width: 700px) {
    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
}
