:root {
    --orange-primary: #FFC951;
    --phone-width: 600px;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    overflow: auto;
}

body {
    position: relative;
    height: 100vh;
}