.messager-container {
    background-color: aquamarine;
    height: 100vh;
}

.messager-feed {
    overflow-x: hidden;
    overflow-y: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color:steelblue;
    padding-left: 1rem;
    padding-right: 1rem;
}
.messager-feed > :first-child {
    margin-top: auto !important;
}

.message-box {
    display: inline-block;
    background-color: silver;
    margin-bottom: 1rem;
    max-width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15px;
}

.message-box.right-align {
    background-color: rgb(216, 245, 242);
    margin-left: auto;
    float: right;
}


.messager-user-input {
    min-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 10%;
    background-color: azure;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.suggestion {
    height: 2rem;
    width: auto;
    display: inline-block;
    background-color: aqua;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2rem;
    border-radius: 50px;
    margin-left: 1rem;
}
